

<div class="title-type-header item-margin">

  <ion-item class="title">
    <ion-input type="text" 
      label="{{'TITLE'| translate}}" labelPlacement="floating" 
      [(ngModel)]="todo.title"></ion-input>
  </ion-item>

  <ion-row class="type">
    <!-- {{newTodo.category.name}} -->
    <ion-select 
      [(ngModel)]="categoryName" (ionChange)="changeCategory()"
      label="{{ 'CATEGORY' | translate}}" label-placement="floating"
      [interfaceOptions]="{'cssClass': 'label-select-color'}">

      <ion-select-option  *ngFor="let cat of categories" [value]="cat.name">{{cat.name | translate}}</ion-select-option>

    </ion-select>
  </ion-row>
</div>
