

<ion-header *ngIf="todo" [translucent]="true" id="header">

  <!-- HEADER -->
  <ion-toolbar class="toolbar-parent">

    <app-todo-header-top 
      [mainTodo]="mainTodo" [todo]="todo"
      (goBackEmitter)="goBackTodo()"

    ></app-todo-header-top>

    <div>
      <ion-row class="sub-toolbar" id="sub-toolbar">

        <app-todo-header-left-informations [todo]="todo"></app-todo-header-left-informations>
    
        <app-todo-header-right-buttons
        *ngIf="!modalConfig.open" 
          [todo]="todo"
          [isNewTodo]="isNewTodo"
          [editMode]="editMode"
          (editModeEmitter)="modifyTodo($event)"
          (deleteEmitter)="showConfirmDeleteTodo()"
          (validationEmitter)="setTodoValidation($event)"
          ></app-todo-header-right-buttons>

      </ion-row>
    </div>
    
  </ion-toolbar>
</ion-header>



<ion-content *ngIf="todo" [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onContentScroll($event)">
  
  <ion-list class="list-page" >

    <!-- <div *ngIf="isTodoSynchronized()">
      Synchronized

    </div>
    <div *ngIf="!isTodoSynchronized()">
      Not Synchronized

    </div> -->


    <app-title-category-edit *ngIf="this.editMode" [todo]="this.todo"></app-title-category-edit>

    <app-maintodo-subtask
          [todo]="todo" [mainTodo]="mainTodo" [todos]="todos" 
          [hideDoneTasks]="mainTodo.hideDoneTasks"
          (todoSelectedEmitter)="onNewTodoSelected($event)"
        ></app-maintodo-subtask>


    <app-custom-config *ngIf="this.editMode" [configArray]="this.todo.config" [todo]="this.todo"></app-custom-config>


    <app-todo-description [todo]="todo"></app-todo-description>


    <app-todo-priority-edit *ngIf="this.editMode" [todo]="this.todo"></app-todo-priority-edit>


    <app-date-selector [todo]="todo" [editMode]="editMode"></app-date-selector>

    
    <!-- List sub tasks -->

    <div *ngIf="this.mainTodo.config.subtasks" >

      <ion-list class="sub-todo-list item-padding">

        


        <app-todo-sub-tasks-header
          [todo]="todo" [mainTodo]="mainTodo"
          (subModeChangeEmitter)="changeSubMode($event)" 
          (initializeDragDropListEmitter)="initializeDragDropList()"
        ></app-todo-sub-tasks-header>

        <app-button-add-sub-task *ngIf="editMode" [parentTask]="todo" [modalConfig]="modalConfig" (initializeDragDropListEmitter)="initializeDragDropList()"></app-button-add-sub-task>

        
        <!-- SUBTAKS LIST -->

        <div *ngIf="subMode === 'tree'">

          <app-todo-subtasks-tree
            [todo]="todo"
            [mainTodo]="mainTodo"
            [todos]="todos"
            [hideDoneTasks]="mainTodo.hideDoneTasks"
            [dragAndDropTodosDatas]="dragAndDropTodosDatas"
            (todoSelectedEmitter)="onNewTodoSelected($event)"
            (initializeDragDropListEmitter)="initializeDragDropList()"
          ></app-todo-subtasks-tree>

        </div>

      </ion-list> 

    </div>

  </ion-list>

  <!-- CONCEPTOR -->

  <app-graph *ngIf="subMode === 'graph'" 
    [mainTodo]="mainTodo"
    [selectedTodo]="todo"
    (todoSelectedEmitter)="onNewTodoSelected($event)"

    ></app-graph>

  <div  class='scroll-step'></div>

</ion-content>


<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isNewTodo && !isKeyboardVisible && !modalConfig.open">
  <ion-fab-button [disabled]="!canSaveTodo()" (click)="saveNewTodo()">
    <ion-icon name="checkmark-outline" ></ion-icon>
  </ion-fab-button>
</ion-fab>


<div *ngIf="modalConfig.open">
  <app-add-modal [modalConfig]="modalConfig" (initializeDragDropListEmitter)="initializeDragDropList()"></app-add-modal>
</div>