

<ion-header *ngIf="todo" [translucent]="true" id="header">

  <!-- HEADER -->
  <ion-toolbar class="toolbar-parent">

    <div class="toolbar-content">

      <ion-buttons slot="start">
        <ion-button (click)="goBackTodo()" class="back-button">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <h1 class="title-input">{{todo.title}}</h1>

      <div class="center-title">
      </div>
    </div>

    <div  [ngClass]="{ 'header-appear': !treeGraphChoiceOnHeader, 'header-disappear': treeGraphChoiceOnHeader }">
      <ion-row class="sub-toolbar" id="sub-toolbar">

        <ion-row class="header-infos">
          <div *ngIf="todo.category.name" class="chip-category" [style.background-color]="todo.category.color || ''" [style.color]="contrastColor()">
            {{todo.category.name | translate}}
          </div>
      
          <div class="priority-icon" *ngIf="!this.todo.isDone">
            <div  *ngIf="this.todo.config.priority">
              <ion-icon *ngIf="todo.priority === 'low'" name="alert-circle-outline" color="medium"></ion-icon>
              <ion-icon *ngIf="todo.priority === 'medium'" name="alert-circle-outline" color="warning"></ion-icon>
              <ion-icon *ngIf="todo.priority === 'high'" name="alert-circle-outline" color="danger"></ion-icon>
            </div>
          </div>

          <div class="priority-icon" *ngIf="!this.todo.isDone && passedDate()">

            <ion-icon name="alarm-outline" color="danger"></ion-icon>

          </div>

          <div *ngIf="this.todo.isDone" class="done-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 197.6 200"><defs><style>.cls-1{fill:#36ac56;}</style></defs><g id="LOGO"><path class="cls-1" d="M166.2.26A27.52,27.52,0,0,0,148.8,45a8.17,8.17,0,0,1,.61,9.14L101,141.07a8.12,8.12,0,0,1-8.14,4.1,27.34,27.34,0,0,0-15.53,2.54,8,8,0,0,1-8.84-1.45L55.3,134.08a8,8,0,0,1-2.12-8.75,27.61,27.61,0,1,0-13.61,14.76,8,8,0,0,1,8.81,1.48l13.17,12.17a8,8,0,0,1,2.12,8.76,27,27,0,0,0-1.87,9.07A27.89,27.89,0,0,0,89,200a27.53,27.53,0,0,0,21.58-45,8,8,0,0,1-.71-9l48.53-87.1a8,8,0,0,1,8.05-4.11A27.54,27.54,0,1,0,166.2.26Z" transform="translate(0 0)"/></g></svg>

            <div class="done-text">{{'DONE' | translate}}</div>
          </div>
        </ion-row>
    
        <ion-row class="header-buttons" >
    
          <button class="header-button" (click)="modifyTodo()">
              <svg width="28px" height="28px" viewBox="0 0 24.00 24.00" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15.4998 5.49994L18.3282 8.32837M3 20.9997L3.04745 20.6675C3.21536 19.4922 3.29932 18.9045 3.49029 18.3558C3.65975 17.8689 3.89124 17.4059 4.17906 16.9783C4.50341 16.4963 4.92319 16.0765 5.76274 15.237L17.4107 3.58896C18.1918 2.80791 19.4581 2.80791 20.2392 3.58896C21.0202 4.37001 21.0202 5.63634 20.2392 6.41739L8.37744 18.2791C7.61579 19.0408 7.23497 19.4216 6.8012 19.7244C6.41618 19.9932 6.00093 20.2159 5.56398 20.3879C5.07171 20.5817 4.54375 20.6882 3.48793 20.9012L3 20.9997Z"  stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
          </button>
    
          <button class="header-button" (click)="showConfirmDeleteTodo()">
            <ion-icon name="trash-outline" ></ion-icon>
          </button>
    
          <button class="header-button validate-button" *ngIf="!todo.isDone" (click)="validateTodo()">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="27px" height="27px" viewBox="0 0 197.6 200"><defs><style>.cls-1{fill:#36ac56;}</style></defs><g id="LOGO"><path class="cls-1" d="M166.2.26A27.52,27.52,0,0,0,148.8,45a8.17,8.17,0,0,1,.61,9.14L101,141.07a8.12,8.12,0,0,1-8.14,4.1,27.34,27.34,0,0,0-15.53,2.54,8,8,0,0,1-8.84-1.45L55.3,134.08a8,8,0,0,1-2.12-8.75,27.61,27.61,0,1,0-13.61,14.76,8,8,0,0,1,8.81,1.48l13.17,12.17a8,8,0,0,1,2.12,8.76,27,27,0,0,0-1.87,9.07A27.89,27.89,0,0,0,89,200a27.53,27.53,0,0,0,21.58-45,8,8,0,0,1-.71-9l48.53-87.1a8,8,0,0,1,8.05-4.11A27.54,27.54,0,1,0,166.2.26Z" transform="translate(0 0)"/></g></svg> -->
  
            <ion-icon name="checkmark-circle-outline" class="validate-icon"></ion-icon>
            <!-- <ion-icon name="checkmark-outline" class="validate-icon" ></ion-icon> -->
          </button>
          <button class="header-button unvalidate-button" *ngIf="todo.isDone" (click)="unvalidateTodo()">
            <ion-icon name="refresh-outline" class="validate-icon"></ion-icon>
          </button>
        </ion-row>
      </ion-row>
    </div>

    <div  [ngClass]="{ 'header-appear': treeGraphChoiceOnHeader, 'header-disappear': !treeGraphChoiceOnHeader }">

      <ion-segment 
      [(ngModel)]="subMode" (ionChange)="initializeGraphHeight($event)"
       *ngIf="treeGraphChoiceOnHeader" 
       class="sub-task-mode tree-segment" 
       ngDefaultControl="tree">

        <ion-segment-button value="tree">
          <div [class.greyded-text]="subMode !== 'tree'">{{'TREE' | translate}}</div>
        </ion-segment-button>
        <ion-segment-button value="graph">
          <div [class.greyded-text]="subMode !== 'graph'">{{'GRAPH' | translate}}</div>
        </ion-segment-button>
      </ion-segment>
    </div>
    
  </ion-toolbar>
</ion-header>



<ion-content *ngIf="todo" [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onContentScroll($event)">


  <!-- <ion-button (click)="exportTodo()">
    Export data
  </ion-button> -->
  
  <ion-list class="list-page" >

    <ion-item *ngIf="this.todo.config.description" class="item-margin">

      <ion-textarea [readonly]="true" value="{{todo.description}}"
      label="{{'DESCRIPTION' | translate}}" labelPlacement="floating" class="label-padding"
      placeholder="{{'DESCRIPTION' | translate}}" autoGrow="true"></ion-textarea>
    </ion-item>


    <!-- <app-date-selector [todo]="todo"></app-date-selector> -->

    <div *ngIf="todo.config.date" class="date-selector item-padding" >
    
      <ion-item >
        <ion-input [readonly]="true" value="{{formatDateToCustomString()}}" 
        label="{{'DUE DATE' | translate}}" labelPlacement="floating" class="label-padding"
          [ngClass]="{'passed-date' : !validDate()}">
        </ion-input>

        <ion-icon *ngIf="!passedDate() && todo.reminder" class="priority-icon bell-icon" name="notifications-outline"></ion-icon>
        <ion-icon *ngIf="!passedDate() && todo.reminder === false" class="priority-icon bell-icon" name="notifications-off-outline"></ion-icon>

      </ion-item>
    </div>

    <div *ngIf="todo.config.repeat" class="date-selector item-padding" >
      <ion-item >
        <ion-input [readonly]="true" value="{{formatDateToCustomString()}}" 
        label="{{'REPEAT' | translate}}" labelPlacement="floating" class="label-padding"
          [ngClass]="{'passed-date' : !validDate()}">
        </ion-input>

        <ion-icon *ngIf="todo.reminder" class="priority-icon bell-icon" name="notifications-outline"></ion-icon>
        <ion-icon *ngIf="todo.reminder === false" class="priority-icon bell-icon" name="notifications-off-outline"></ion-icon>

      </ion-item>
    </div>

    <!-- <div *ngIf="haveProperties() === false" [ngClass]="{'ecart' : true}">
    </div> -->
    
    <div id="sub-task-mode"></div>

    
    <!-- List sub tasks -->

    <div *ngIf="this.todo.config.subtasks && todo.list!.length > 0" >

      <ion-list class="sub-todo-list item-padding">

        <div>
          <ion-label class="sub-todos-label" color="primary">{{'SUB TASKS' | translate}}</ion-label>

          <div class="toggle-done-tasks">
            <ion-toggle labelPlacement="end" [(ngModel)]="hideDoneTasks" (ionChange)="initializeSubTasksList()"></ion-toggle>
            <!-- <ion-label>{{'HIDE DONE TASKS' | translate}}</ion-label> -->
            <div>{{'HIDE DONE TASKS' | translate}}</div>
            
          </div>
        </div>
        
        <ion-segment 
          [(ngModel)]="subMode"  
          class="tree-segment" [class.hide-tree-task]="treeGraphChoiceOnHeader" 
          (ionChange)="initializeGraphHeight($event)">

          <ion-segment-button value="tree">
            <div [class.greyded-text]="subMode !== 'tree'">{{'TREE' | translate}}</div>
          </ion-segment-button>
          <ion-segment-button value="graph">
            <div [class.greyded-text]="subMode !== 'graph'">{{'GRAPH' | translate}}</div>
          </ion-segment-button>
        </ion-segment>


        <!-- SUBTAKS LIST -->

        <div *ngIf="subMode === 'tree'">
          <!-- <div cdkDropList [cdkDropListData]="todo.list" (cdkDropListDropped)="drop($event)"> -->
          <div cdkDropListGroup>
            <div *ngFor="let subTodo of todo.list; let index = index" >
              <div cdkDropList [cdkDropListData]="subTasksList[index]" 
              (cdkDropListDropped)="drop($event)" *ngIf="!hideDoneTasks || !subTodo.isDone">

                <app-sub-task 
                [mainId]="mainTodo.id"
                [todos]="todos" 
                [parentTask]="todo" 
                [subTask]="subTodo" 
                [page]="'todo'" 
                [hideSubTasks]="hideDoneTasks"
                ></app-sub-task>
              </div>
            </div >
          </div>
        </div>



        

      </ion-list> 

    </div>

  </ion-list>

  <!-- CONCEPTOR -->

  <app-graph *ngIf="subMode === 'graph'" [todo]="mainTodo"></app-graph>

  <div  class='scroll-step'></div>

</ion-content>
