<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" (click)="actualizeTodo()"></ion-back-button>
    </ion-buttons>

    <div class="toolbar-content">

      <ion-input type="text" [(ngModel)]="todo.title" class="title-input"></ion-input>

      <ion-select [(ngModel)]="todo.type" aria-label="Type" class="select-right">
        <ion-select-option value="todo">Todo</ion-select-option>
        <ion-select-option value="todo list">Todo list</ion-select-option>
        <ion-select-option value="project">Project</ion-select-option>
        <ion-select-option value="reminder">Reminder</ion-select-option>
      </ion-select>

    </div>
    <!-- <ion-title>{{todo.title}}</ion-title> -->
    

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list class="list-page" >

    <ion-row>
      <ion-buttons class="middle-buttons">

        <button class="middle-button" (click)="deleteTodo()">
          <ion-icon name="trash-outline" color="danger" ></ion-icon>
        </button>

        <button class="middle-button" disabled>
          <ion-icon name="checkmark-outline" color="primary"></ion-icon>
        </button>

      </ion-buttons>
    </ion-row>

    <ion-item >
      <ion-label position="floating" color="primary">Description</ion-label>
      <ion-textarea [(ngModel)]="todo.description" placeholder="Description" autoGrow="true"></ion-textarea>
    </ion-item>

    <div class="date-selector">

      <ion-item class="date-left">
        <ion-label position="floating" color="primary">Due date</ion-label>
        <ion-input type="date" placeholder="MM/DD/YYYY" [(ngModel)]="todo.date"></ion-input>  
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Due time</ion-label>
        <ion-input type="time" placeholder="Time"></ion-input>
      </ion-item>
    </div>

    <ion-row class="rappel">
      <ion-checkbox labelPlacement="end">Rappel</ion-checkbox>
    </ion-row>


    <div *ngIf=" todo.type && todo.type !='todo'">

      <ion-list class="sub-todo-list">
        <ion-label class="sub-todos-label" color="primary">Sub Todos</ion-label>
        <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
          <div *ngFor="let subTodo of todo.list; let id = index">

            <!-- SubTodo -->
            <div *ngIf="subTodo.type == 'todo'">
              <app-sub-todo [todo]="todo" [subTodo]="subTodo" [index]="id" [page]="'todo'"></app-sub-todo>
            </div>

            <!-- SubTask -->
            <div *ngIf="subTodo.type != 'todo'">
              <app-sub-task [todo]="todo" [subTask]="subTodo" [index]="id" [page]="'todo'" [routerLink]="'/todo/' + this.index + '/' + id"></app-sub-task>
            </div>
            
          </div > 
        </ion-reorder-group>
      </ion-list> 

      <ion-row class="new-sub-todo" *ngIf="todo.type == 'todo list'">
        <ion-input  type="text" [(ngModel)]="newTodoOnListTitle" placeholder="Sub todos"></ion-input>
        <ion-icon name="add" (click)="addTodoOnList()"></ion-icon>
      </ion-row>

      <ion-row *ngIf="todo.type == 'project'" class="new-sub-task">

        <ion-text>Sub tasks</ion-text>
        <ion-buttons class="add-button-container" >
          <button class="add-button" (click)="openModal = true">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>

      </ion-row>

    </div>

    

  </ion-list>

  <div *ngIf="openModal">
    <app-add-modal></app-add-modal>

  </div>

</ion-content>
