
<div>
  <div class="background">
  </div>



  <div class="content" *ngIf="subTask">

    <ion-header>
      <app-modal-header [subTask]="subTask" (addSubTaskEmitter)="addSubTask()" (closeSubTaskEmitter)="closeSubTask()"></app-modal-header>
    </ion-header>
    
    
    <ion-list class="list-page">
  
      <app-title-category-edit [todo]="subTask"></app-title-category-edit>

      <app-custom-config [configArray]="subTask.properties.config" [todo]="subTask"></app-custom-config>

      <app-todo-description [todo]="subTask"></app-todo-description>

      <app-todo-priority-edit  [todo]="subTask"></app-todo-priority-edit>
  
      <app-date-selector [todo]="subTask" [editMode]="true"></app-date-selector>
  
  
      <div *ngIf="this.subTask.properties.config.subtasks" class="sub-tasks item-padding">
  
        <ion-label class="sub-todos-label" color="primary">{{'SUB TASKS' | translate}}</ion-label>
        <div class="info-sub-task">
          <ion-text>{{'SUB TASKS WARNING' | translate}}</ion-text>
        </div>
  
      </div>
    </ion-list>
   
  
  </div>

</div>



   