
.content{

    position: fixed;
    // background-color: red;
    
    bottom: 0;
    width: 100%;

    min-height: 150px;
    height: fit-content;

    max-height: 400px;
    

    // overflow-y: scroll;

    border-radius: 15px 15px 0px 0px;

    // transform :translateY (100%);
    // bottom: 0%;
}

.hide{
    display: none;
    width: 0px;
    height: 0px;
}

ion-list, ion-item{
    
    
    background-color: var(--ion-color-step-100);

    // padding: 0px 5px; 
}

.start-effect{
    transition: all 0.5s ease-in-out;
    
    max-height: 90%;
}

ion-header{
    position: fixed;
    height: 55px;
    
}

ion-toolbar{
    border-radius: 15px 15px 0px 0px;
}

.close-icon{
    padding-left: 10px;
    padding-right: 5px;
    font-size: 30px;
}



.list-page{
    height: fit-content;
    min-height: 150px;
    
    padding-top: 60px;
    // border-bottom: none;
    border-radius: 15px 15px 0px 0px;
}

.margin-bottom{
    height: 100px;
}

.date-selector{
    display: flex;
    flex-direction: row;

    width: 100%;
    padding-top: 3px;
}

.date-left{
    width: 50%;
    margin-right: 20px;
}




.title-type-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
}

.title-type-header .title{
    width: 60%;
}

.title-type-header .type{
    width: 35%;
    
}

.input-todo{
    background-color: var(--ion-color-step-200);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    font-size: 18px;
}

ion-checkbox{
    padding: 20px 16px;
}

ion-select {
    padding-right: 16px;
    --placeholder-color: white !important; /* Remplacez cette couleur par celle de votre choix */
    --placeholder-opacity: 1 !important; /* Pour être sûr que le texte est lisible */
}

ion-row{
    border-bottom: solid var(--ion-border-color) 1px;
}

#modal-subs{
    padding-top: 10px;

    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
}

.sub-label{
    font-size: 18px;
    margin-left: 16px;
}

.button{
    max-width: 100px;
    margin-left: 20px;
}