
.table-bordered[_ngcontent-jto-c5] {
    border: 1px solid #000 !important;
}


.month-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.month-row h2{
    
    padding-bottom: 5px;
}


