<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="goBackTodo()" class="back-button">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>Connectez vous</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Connectez vous</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="login-page">
    <ion-list>
      <ion-item>
        <ion-input type="text" 
        label="Email" labelPlacement="floating" aria-label="Email" 
        [(ngModel)]="newUser.email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input type="password" 
        label="Mot de passe" labelPlacement="floating" aria-label="Mot de passe" 
        [(ngModel)]="newUser.password"></ion-input>
      </ion-item>
    </ion-list>
  
    <div class="padding-buttons">
      <ion-button expand="block" class="connexion-button"
        [disabled]="!validForm()" (click)="logIn()">Se connecter</ion-button>
      <ion-button expand="block" fill="clear" color="secondary" (click)="goToSignUpPage()">Créer un compte</ion-button>
      <!-- <ion-button expand="block" fill="clear" color="secondary" (click)="goToHomePage()">Retour à l'accueil</ion-button> -->
    
    </div>
    
  </div>
  
</ion-content>
