<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      {{'SETTINGS' | translate}}
      <span *ngIf="settings.syncChip" class="sync-status" [ngClass]="areSettingsSynchronized() ? 'green' : 'orange'"></span>
    
    </ion-title>


<!-- <ion-button class="save-button" slot="end" fill="clear" (click)="save()">
      Save
    </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #pageContent>


  <ion-list>

    <ion-label position="floating" [style.color]="settings.themeColor" class="label-section">{{'CATEGORIES' | translate}}</ion-label>
    
    <!-- <ion-item>
      <div>Categories</div>
    </ion-item> -->
    <ion-list>
      <div *ngFor="let cat of settings.categories">

        <ion-row class="category-row">
          <div class="category-content">
            
            <input type="color" id="colorPicker" class="color-category" value="{{cat.color}}" (input)="onColorChange($event, cat)">

            <!-- <input [(colorPicker)]="cat.color" 
                [style.background]="cat.color" /> -->

            <!-- <div class="color-category" [style.background-color]="cat.color"></div> -->

            <div>{{cat.name | translate}}</div>
          </div>
          
          <ion-icon class="remove-category" name="close-outline" (click)="showConfirmDelete(cat)"></ion-icon>
          
        </ion-row>

      </div>

      <ion-row class="category-row">
        <div class="category-content">
          <input type="color" id="colorPicker" class="color-category" value="{{newCategory.color}}" (input)="onColorChange($event, newCategory)">

          <ion-input [(ngModel)]="newCategory.name" class="new-category" placeholder="{{'ADD CATEGORY' | translate}}"></ion-input>
        </div>
        
        <ion-icon class="remove-category" name="add-outline" (click)="addCategory()"></ion-icon>
        
      </ion-row>
      
      
    </ion-list>
  </ion-list>
    

  <div>
    <ion-label position="floating" [style.color]="settings.themeColor" class="label-section">Language</ion-label>

    <ion-row class="category-row">
      <ion-select [(ngModel)]="this.settings.language" (ionChange)="onLanguageChange()">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="fr">Français</ion-select-option>
      </ion-select>
    </ion-row>

    
    
  </div>


  <!-- <div>

    <ion-label position="floating" [style.color]="settings.themeColor" class="label-section">Theme</ion-label>

    
    <ion-row class="label-row">
      <div>{{'DARK MODE' | translate}}</div>
      <ion-toggle [(ngModel)]="settings.darkMode" (ionChange)="toggleDarkMode()" [style.--handle-background-checked]="settings.themeColor"></ion-toggle>
    </ion-row>

  <ion-row class="category-row ">
      <div>{{'THEME COLOR' | translate}}</div>
      <input type="color" id="colorPicker" class="color-category little-margin-right" value="{{settings.themeColor}}" (input)="onThemeColorChange($event)">

    </ion-row>
  </div> -->

  <div class="sync">

    <ion-label position="floating" [style.color]="settings.themeColor" class="label-section">Synchronisation</ion-label>

    <!-- Theme -->
    <ion-row class="label-row">
      <div>{{'SYNC CHIP' | translate}}</div>
      <ion-toggle [(ngModel)]="settings.syncChip"  [style.--handle-background-checked]="settings.themeColor"></ion-toggle>
    </ion-row>
  </div>
  

  <ion-list class="version-app">
    <ion-item>
      <ion-label>Version</ion-label>
      <ion-text>1.0.0</ion-text>
    </ion-item>
  </ion-list>
  
    
</ion-content>


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button [disabled]="areSettingsSynchronized()" (click)="saveNewSettings()">
    <ion-icon name="checkmark-outline" ></ion-icon>
  </ion-fab-button>
</ion-fab>