<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-list>
    <ion-item>
      <ion-label>Categories</ion-label>

      
      
    </ion-item>
  </ion-list>
    

  <ion-list>
    <ion-item>
      
      <ion-select label="Language">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="fr">Français</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <!-- Theme -->
    <ion-item>
      <ion-label>Dark mode</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
  </ion-list>

  

  <ion-list>
    <ion-item>
      <ion-label>Version</ion-label>
      <ion-text>1.0.0</ion-text>
    </ion-item>
  </ion-list>
  
    
</ion-content>
