

.title{
    width: fit-content;
    font-size: 20px;
}

.sync-status{
    width: 8px;
    height: 8px;

    border-radius: 50%;
    
    position: absolute;

    right: -15px;
    // top: -5px;
}

.green{
    background-color: greenyellow;
}

.orange{
    background-color: orange;
}









ion-list{
    padding-top: 16px;
}

.label-section{
 
    font-size: 14px;
    // font-weight: bold;
    // padding: 5px 16px;

    // padding-top: 16px;
    padding-bottom: 2px;
    padding-left: 16px;
    // border-bottom: 1px solid #ccc;
}

.sync{
    margin-top: 16px;
}

.category-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
    // border-bottom: 1px solid #ccc;
}

.category-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.color-category{
    width: 20px;
    height: 20px;
    // border-radius: 50%;
    margin-right: 20px;
    border: 0px;
    padding: 0px;
}

.little-margin-right{
    margin-right: 8px;
}

.new{
    border: 1px solid var(--ion-text-color);
}

.new-category{
    width: fit-content;
    height: 30px;
    border-bottom: 1px solid var(--ion-text-color);
}

.remove-category{
    font-size: 26px;
}

.version-app{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;

}


.color-picker{
    position: fixed;
    z-index: 1000;
}

.top-padding{
    padding-top: 16px;
}

.label-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
    // border-bottom: 1px solid #ccc;
}