

// .padding-page{
//     padding: 16px;
// }

.profile-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 16px;
    margin: 8px;
}

.profile-infos{
    // padding-left: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.pseudo-image{
    // width: 33%;
    // height: 33%;
    border-radius: 50%;
    margin-right:  16px;
}

.edit-profile{
    display: flex;
    // align-self: flex-end;
    flex-direction: row;
    align-items: center;

    padding-right: 8px;
}

.user-names{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.firstname{
    font-size: 22px;
    font-weight: bold;

}




// CONNEXION CASE

.padding-connexion{
    padding: 16px;
}

.connexion-text{
    padding: 32px 0px;
}