

.padding-page{
    padding: 16px;
}

.profile-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    // padding: 0px 16px;
}

.pseudo-image{
    width: 33%;
    height: 33%;
    border-radius: 50%;
    margin: 0px 16px;
}

.user-names{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.firstname{
    font-size: 22px;
    font-weight: bold;

}




// CONNEXION CASE

.padding-connexion{
    padding: 16px;
}

.connexion-text{
    padding: 32px 0px;
}