

<ion-menu contentId="openMenu" [type]="'push'">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title>ConcepTodo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    
    <ion-list>
      <ion-row>
        <div class="menu-link" (click)="goToCalendar()">
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-nav-link >Calendar</ion-nav-link>
        </div>
        
      </ion-row>
      <ion-row>
        <div class="menu-link">
          <ion-icon name="funnel-outline"></ion-icon>
          Filter
        </div>
        
      </ion-row>
      <ion-row>
        <div class="menu-link">
          <ion-icon name="settings-outline"></ion-icon>
          Settings
        </div>
        
      </ion-row>
      <ion-row>
        <div class="menu-link">
          <ion-icon name="cafe-outline"></ion-icon>
          Feedback
        </div>
        
      </ion-row>
    </ion-list>

  </ion-content>

</ion-menu>
