

<div class="habit-tracker">
  <table>
    

    <thead>
      <tr>
        <th class="habit-title">Todo Tracker</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let day of days; let dayIndex = index" class="habit-row">
  
        <!-- <td class="day-label">{{ day }}</td> -->

        <td *ngFor="let _ of [].constructor(numberOfWeeks); let weekIndex = index">
        
          <div class="day-contribution" 
          [style.background-color]="
          getTodoCountByDate(dayIndex, weekIndex) === -1 ? 'var(--ion-color-step-50)' :
          getTodoCountByDate(dayIndex, weekIndex) >= 10 ? 'var(--ion-color-tertiary)' :
          getTodoCountByDate(dayIndex, weekIndex) >= 5 ? 'var(--ion-color-secondary)' : 
          getTodoCountByDate(dayIndex, weekIndex) >= 1 ? 'var(--ion-color-primary)' :
           'var(--black)'">
          </div>
        
        </td>
      </tr>
    </tbody>
  
    
  
  
  </table>
</div>

