.habit-tracker{
    margin: 16px 8px;
    border-radius: 4px;

    // padding: 4px;
    padding: 8px;

    background-color: var(--ion-color-step-50);

    // overflow-x: scroll;
}

.todo-body {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;  /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    max-width: 100%;
    // direction: ltr;
}



// .habit-tracker {
//     overflow-x: auto;
//     max-width: 100%;
// }

// table {
//     width: auto;
//     min-width: 100%;
// }

.todo-body::-webkit-scrollbar {
    display: none;  /* Hide scrollbar for Chrome, Safari, and Opera */
}

table {
    display: inline-block;
    max-width: 100%;
    // direction: ltr;
}

tbody {
    display: table-row-group;
}

.habit-title{
    display: flex;
    flex-direction: row;
    justify-self: start;
    padding: 4px 0px;
}

.habit-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 2px;
    
    height: 12px;
    border-radius: 5px;
    // background-color: var(--ion-color-step-50);
}

.day-label{
    height: 12px;
    width: 20px;


}

.day-contribution{
    height: 12px;
    width: 12px;

    margin: 1px;
    background-color: var(--black);

    border-radius: 2px;

}

// .todoDone{
//     background-color: var(--ion-color-primary);
// }
