
<ion-card [style.margin-right]="marginLeft()">

  <div cdkDrag [cdkDragData]="subTask">
    <ion-card-content 
      (click)="clickSubTask()" (press)="developSubTaskPressed($event)"
      [ngClass]="{isDone: subTask.isDone, passed : passedDate()}">

    <!-- <ion-icon name="menu-outline"></ion-icon> -->

    <div class="main-content">
      <div class="left-card">
        <ion-reorder cdkDragHandle></ion-reorder>
  
        <div class="task-title">
          <ion-card-title >{{subTask.title}}</ion-card-title>
        </div>
      </div>
  
      <div class="todo-page">

        <div *ngIf="this.subTask.config.subtasks && this.subTask.list.length !== 0" class="advancement">
            {{numberOfDoneSubTask()}}/{{this.subTask.list.length}}
        </div>  

        <div *ngIf="subTask.isDone">
          <!-- <ion-icon name="checkmark-outline" color="success"></ion-icon> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="32px" viewBox="0 0 197.6 200"><defs><style>.cls-1{fill:#36ac56;}</style></defs><g id="LOGO"><path class="cls-1" d="M166.2.26A27.52,27.52,0,0,0,148.8,45a8.17,8.17,0,0,1,.61,9.14L101,141.07a8.12,8.12,0,0,1-8.14,4.1,27.34,27.34,0,0,0-15.53,2.54,8,8,0,0,1-8.84-1.45L55.3,134.08a8,8,0,0,1-2.12-8.75,27.61,27.61,0,1,0-13.61,14.76,8,8,0,0,1,8.81,1.48l13.17,12.17a8,8,0,0,1,2.12,8.76,27,27,0,0,0-1.87,9.07A27.89,27.89,0,0,0,89,200a27.53,27.53,0,0,0,21.58-45,8,8,0,0,1-.71-9l48.53-87.1a8,8,0,0,1,8.05-4.11A27.54,27.54,0,1,0,166.2.26Z" transform="translate(0 0)"/></g></svg>
          
        </div>  
        

        <div *ngIf="this.subTask.config.subtasks && (this.subTask.list.length !== 0 || page === 'add')" class="develop-task" (click)="developSubTask($event)">
          <div  *ngIf="!this.subTask.developped">
            <ion-icon name="chevron-down-outline" ></ion-icon>
          </div>
          <div *ngIf="this.subTask.developped">
            <ion-icon name="chevron-up-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>

  </ion-card-content>
  </div>
  
  <div>
    <div>
      <ion-list  class="sub-sub-task" *ngIf="this.subTask.config.subtasks && this.subTask.developped" [style.background-color]="backgroundColor()">

        <div *ngIf="page === 'add'">
          <app-button-add-sub-task [modalConfig]="openModal" [parentTask]="subTask"></app-button-add-sub-task>
  
        </div>
        
  
        <div *ngFor="let sub of subTask.list; let id = index" >
      
          <div *ngIf="!hideSubTasks || sub.isDone === false">

            <app-sub-task 
            [todos]="todos" [parentTask]="subTask" [subTask]="sub" 
            [index]="id" [page]="page" [level]="level + 1" [openModal]="openModal" [hideSubTasks]="hideSubTasks"></app-sub-task>

          </div>
         
        
        </div>
      
      </ion-list>
    </div>

  </div>
    
   
  
  
 
</ion-card>






