.main-content{

    width: 100%;

    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: var(--ion-text-color);
}



.isDone-icon{
    margin-right: 10px;
    padding-top: 3px;
}


ion-card{
    padding: 0;
    // margin-right: 0;
}

ion-icon{
    font-size: 30px;
    color: var(--ion-color-step-600);
}

ion-card-content{
    padding: 10px;
}


.left-card{
    // width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;
    
}

.task-title{

    margin-left: 15px;
}


.todo-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    // margin-top: 5px;
    // padding: 0 10px;
}

.develop{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

svg{
    margin-right: 10px;
    fill: var(--ion-color-primary);
}

.todo-page ion-label{

    color: var(--ion-color-step-600);
}

.sub-sub-task{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    // background-color: var(--ion-color-step-200);
}



.add-button{
    background: var(--ion-color-step-100);
    border-radius: 50%;

    padding: 10;

    width: 40px;
    height: 40px;

    font-size: 25px;

    margin-right: 15px;

}

.advancement{
    margin-right: 10px;
}






