.header-buttons{
    width: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


.header-button{
    background: none;
    border: none;
    // padding: 0px 5px;

    font-size: 25px;

    margin-left: 10px;
    margin-right: 10px;
}

.validate-icon{
    // color: var(--white);
    font-size: 27px;
    // --ionicon-stroke-width: 40px;
}


.header-button svg, .header-button ion-icon{
    stroke: var(--ion-color-step-800);
    // stroke-width: 5px;
    color : var(--ion-color-step-800);
    fill: none;
}