<ion-row *ngIf="this.todo.properties.config.priority" class="item-margin">
  <ion-label class="sub-todos-label" color="primary">{{'PRIORITY' | translate}}</ion-label>
  <ion-segment [(ngModel)]="todo.properties.priority" color="primary">
    <ion-segment-button value="low">
      <div [class.greyded-text]="todo.properties.priority !== 'low'">{{'LOW' | translate}}</div>
    </ion-segment-button>
    <ion-segment-button value="medium">
      <div [class.greyded-text]="todo.properties.priority !== 'medium'">{{'MEDIUM' | translate}}</div>
    </ion-segment-button>
    <ion-segment-button value="high">
      <div [class.greyded-text]="todo.properties.priority !== 'high'">{{'HIGH' | translate}}</div>
    </ion-segment-button>
  </ion-segment>
</ion-row>