

<ion-card>

  <ion-card-content>

    <!-- <ion-icon name="menu-outline"></ion-icon> -->

    <div class="left-card">
      <ion-reorder ></ion-reorder>

      <div class="task-title">
        <ion-card-title >{{subTodo.title}}</ion-card-title>
      </div>
    </div>

    <div *ngIf="page == 'add'">
      <ion-icon name="close-outline" (click)="deleteSubTodo()"></ion-icon>
    </div>

    <div *ngIf="page == 'todo'" class="todo-page">
      
      <ion-icon name="trash-outline" color="danger" (click)="deleteSubTodo()"></ion-icon>
      
      <ion-checkbox></ion-checkbox>
      
    </div>

    

  </ion-card-content>
 
</ion-card>