

.feedback-text{
    margin : 16px;

    margin-top: 24px;

    font-size: 16px;
    line-height: 1.4;

    text-align: justify;

    a{
        // color: var(--ion-color-secondary);
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
}