<ion-header [translucent]="true">
  
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button default-href="#" routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div class="feedback-text" *ngIf="usedLanguage() === 'fr'">
    ConcepTask est mon premier projet d'application mobile. 
    <br>
    <br>
    Je l'ai réalisé en me basant sur mes besoins d'avoir une application de gestion de tâches simple, efficace et complète. 
    <!-- J'ai essayé ensuite de faire en sorte que l'application soit la plus intuitive possible. -->
    <br>
    <br>
    L'application est loin d'être terminée, il y a encore beaucoup de choses à améliorer et j'ai énormément d'idées pour la suite.

    <br>
    <br>
    Si vous avez des idées d'amélioration ou des bugs à me signaler n'hésitez pas à me contacter par mail à l'adresse suivante :

    <a href="mailto:marius.diguat--mateus@utbm.fr">
      
      <p>marius.diguat--mateus@utbm.fr</p>
    </a>

    <br>
    <br>
    Pour visualiser mon portfolio, rendez-vous sur le lien suivant :

    <a href="https://mariusdiguat.fr/">
      
      <p>https://mariusdiguat.fr/</p>
    </a>

    <br>
    <br>
    Merci d'avoir utilisé ConcepTask ! 

    <br>
    <br>
    Marius Diguat-Mateus
  </div>

  <div class="feedback-text" *ngIf="usedLanguage() === 'en'">
    ConcepTask is my first mobile app project.
    <br>
    <br>
    I created it based on my needs for a simple, efficient, and comprehensive task management application.
    <br>
    <br>
    The app is far from finished; there's still a lot to improve, and I have plenty of ideas for what comes next.
    <br>
    <br>
    If you have suggestions for improvement or bugs to report, feel free to contact me via email at the following address:
    <a href="mailto:marius.diguat--mateus@utbm.fr">
      <p>marius.diguat--mateus@utbm.fr</p>
    </a>
    <br>
    <br>
    To view my portfolio, visit the following link:
    <a href="https://mariusdiguat.fr/">
      <p>https://mariusdiguat.fr/</p>
    </a>
    <br>
    <br>
    Thank you for using ConcepTask!
    <br>
    <br>
    Marius Diguat-Mateus
</div>

</ion-content>
