


.team-header{


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 8px;
    gap: 16px;

}

.team-image{
    display: flex;
    flex-direction: column;

    min-width: 100px;
    // width: 30%;
}

.team-image img{
    // width: 100px;
    // height: 100px;
    border-radius: 50%;
}

.team-name{
    // padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}