<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBackTodo()" class="back-button">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ team?.name || 'Nouvelle équipe' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="team">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Équipe</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-input [(ngModel)]="teamName" placeholder="Nom de l'équipe"></ion-input>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="teamImage" alt="Image de l'équipe"></ion-img>
      <ion-button expand="block" (click)="changeTeamImage()">Changer l'image</ion-button>
    </ion-card-content>
  </ion-card> -->


  <div class="team-header">


    <div class="team-image-name">

      <div class="team-image">
        <div class="image-container" (click)="triggerFileInput()">
          <img [src]="imagePreview || team.image" alt="Profile picture">
          <div class="overlay">
            <ion-icon name="pencil"></ion-icon>
          </div>
        </div>
        <input #fileInput type="file" accept="image/*" (change)="fileUpload($event)" style="display: none;" />
      </div>
  
      <ion-item class="item-margin name-input">
        <ion-input type="text" 
        label="Team name" labelPlacement="floating" aria-label="Team name" 
        [(ngModel)]="team!.name"></ion-input>
      </ion-item>
    </div>
  </div>


  <div class="team-actions" *ngIf="!isNewTeam">
    <ion-button class="team-action-button" *ngIf="team?.adminId === user?.uid" color="danger" (click)="deleteTeam()">
      <ion-icon slot="start" name="trash"></ion-icon>
      Supprimer l'équipe
    </ion-button>

    <ion-button *ngIf="team?.adminId !== user?.uid" color="medium" (click)="leaveTeam()">
      <ion-icon slot="start" name="exit"></ion-icon>
      Quitter l'équipe
    </ion-button>
  </div>


  <ion-searchbar [disabled]="isNewTeam" [(ngModel)]="searchTerm" (ionInput)="searchMembers()" placeholder="Inviter un utilisateur"></ion-searchbar>


  <ion-list>
    <ion-item *ngFor="let user of searchMembersResult">
      <ion-avatar slot="start">
        <img [src]="user.avatar" alt="Photo de profil">
      </ion-avatar>
      <ion-label>
        <h2>{{ user.pseudo }}</h2>
        <!-- <p>{{ member.role }}</p> -->
      </ion-label>

      <ion-button *ngIf="!isMemberAlreadyInTeamOrInvited(user.uid)" (click)="sendInvitationToUser(user.uid)">Ajouter</ion-button>
      
    </ion-item>
  </ion-list>


  <div *ngIf="teamInvitationUsers.length > 0">
    <div class="team-members-title">En attente</div>

    <ion-list>
      <ion-item *ngFor="let invitedMember of teamInvitationUsers">
        <ion-avatar slot="start">
          <img [src]="invitedMember.avatar" alt="Photo de profil">
        </ion-avatar>
        <ion-label>
          <h2>{{ invitedMember.pseudo }}</h2>
          <!-- <p>{{ member.role }}</p> -->
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  


  <div class="team-members-title">Membres</div>

  <div *ngIf="isNewTeam" class="team-members-warning">

    Veuillez d'abord créer l'équipe pour ensuite inviter des utilisateurs
  </div>

  <ion-list>
    <ion-item *ngFor="let member of teamUsers">
      <ion-avatar slot="start">
        <img [src]="member.avatar" alt="Photo de profil">
      </ion-avatar>
      <ion-label>
        <h2>{{ member.pseudo }}</h2>
        <!-- <p>{{ member.role }}</p> -->
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewMember()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>



<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button [disabled]="!canSaveOrUpdateTeam()" (click)="saveNewTeam()">
    <ion-icon name="checkmark-outline" ></ion-icon>
  </ion-fab-button>
</ion-fab>