

<!-- <div *ngIf="findOnConfig('sub tasks')" class="new-sub-task">
  <ion-row  class="sub-type">
    <ion-select label="Type" label-placement="floating"  [(ngModel)]="subType" aria-label="Type">
      <ion-select-option value="customize">Customize</ion-select-option>
      <ion-select-option value="todo">Todo</ion-select-option>
    </ion-select>
  </ion-row>

  <div *ngIf="subType == 'todo'">
    <ion-row class="new-sub-todo">
      <ion-input  type="text" [(ngModel)]="newTodoOnListTitle" placeholder="Sub todos"></ion-input>
      <ion-icon name="add" (click)="addTodoOnList()"></ion-icon>
    </ion-row>
  </div>

  <div *ngIf="subType != 'todo'">
    <ion-buttons class="add-button-container" >
      <button class="add-button" (click)="addTaskOnList()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </div>
</div> -->
