


.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    height: 100%;
    width: 100%;
    // padding: 16px;
}

.padding-buttons{
    padding: 12px;
}

.connexion-button{
    margin: 16px 0px;
}