<div *ngIf="this.todo !== this.mainTodo" class="project-task">
  <ion-label class="sub-todos-label" color="primary">{{'PROJECT' | translate}}</ion-label>

  <!-- <app-sub-task 
    [mainId]="mainTodo.id"
    [parentTask]="mainTodo" 
    [subTask]="mainTodo" 
    
    (todoSelectedEmitter)="onNewTodoSelected($event)"
 
    [hideSubTasks]="hideDoneTasks"

    [developped]="false"
  ></app-sub-task> -->

  
  <ion-card [style.margin-right]="marginLeft()" [style.margin-bottom]="'0px'">

    <div >

      <ion-card-content 
        (click)="clickSubTask()"
        class="sub-task-card" [style.background-color]="backgroundColor()"
        
        >

        <!-- <ion-icon name="menu-outline"></ion-icon> -->

        <div class="main-content">
          <div class="card-reorder-text">
      
            <!-- <div class="task-title"> -->
              <div class="subtask-title">{{mainTodo.properties.title}}</div>
            <!-- </div> -->
          </div>
      
          <div class="card-icons-develop">

            <div *ngIf="this.mainTodo.properties.config.subtasks && this.mainTodo.list.length !== 0" class="advancement">
                {{numberOfDoneSubTask()}}/{{this.mainTodo.list.length}}
            </div>  

            <div *ngIf="mainTodo.properties.isDone" class="done-icon">

              <!--  DONE -->

              <!-- <ion-icon name="checkmark-outline" color="success"></ion-icon> -->
              <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="32px" viewBox="0 0 197.6 200"><defs><style>.cls-1{fill: var(--is-done-color-checkmark);}</style></defs><g id="LOGO"><path class="cls-1" d="M166.2.26A27.52,27.52,0,0,0,148.8,45a8.17,8.17,0,0,1,.61,9.14L101,141.07a8.12,8.12,0,0,1-8.14,4.1,27.34,27.34,0,0,0-15.53,2.54,8,8,0,0,1-8.84-1.45L55.3,134.08a8,8,0,0,1-2.12-8.75,27.61,27.61,0,1,0-13.61,14.76,8,8,0,0,1,8.81,1.48l13.17,12.17a8,8,0,0,1,2.12,8.76,27,27,0,0,0-1.87,9.07A27.89,27.89,0,0,0,89,200a27.53,27.53,0,0,0,21.58-45,8,8,0,0,1-.71-9l48.53-87.1a8,8,0,0,1,8.05-4.11A27.54,27.54,0,1,0,166.2.26Z" transform="translate(0 0)"/></g></svg>
              
            </div>  

            <div class="priority-icon" *ngIf="!mainTodo.properties.isDone">
              <div  *ngIf="mainTodo.properties.config.priority">
                <ion-icon *ngIf="mainTodo.properties.priority === 'low'" name="alert-circle-outline" color="medium"></ion-icon>
                <ion-icon *ngIf="mainTodo.properties.priority === 'medium'" name="alert-circle-outline" color="warning"></ion-icon>
                <ion-icon *ngIf="mainTodo.properties.priority === 'high'" name="alert-circle-outline" color="danger"></ion-icon>
              </div>
            </div>

            <div class="priority-icon" *ngIf="!mainTodo.properties.isDone && passedDate()">

              <ion-icon name="alarm-outline" color="danger"></ion-icon>

            </div>
          </div>
        </div>

      </ion-card-content>
    </div>
  
  </ion-card>

</div>
