
.list-page{
    // margin: 12px 10px 0px 10px;

    margin-bottom: 60px;

    // padding-top: 16px;
}


ion-list, ion-item{
    background-color: var(--ion-background-color);
}



ion-select {
    padding-right: 16px;
    //--color:var(--ion-color-step-600);
}

ion-row{
    border-bottom: solid var(--ion-border-color) 1px;
}





.title-type-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
}

.title-type-header .title{
    width: 60%;
}

.title-type-header .type{
    width: 35%;
    
}







