

<ion-header *ngIf="newTodo" [translucent]="true" >
  <!-- <ion-toolbar *ngIf="modalConfig.open === false" [ngClass]="{'doneHeader': newTodo.isDone === true, 'passedHeader' : passedDate()}"> -->
  <ion-toolbar *ngIf="modalConfig.open === false">

    <div class="toolbar-content">

      <ion-buttons slot="start" >
        <ion-button (click)="showCloseConfirm()" class="back-button">
          <ion-icon name="arrow-back-outline" ></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <h1 class="title-input">{{newTodo.title || ('NEW TASK' | translate)}}</h1>
  
      <div class="center-title">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="newTodo" [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!modalConfig.open">
    <ion-fab-button [disabled]="!canSaveTodo()" (click)="saveTodo()">
      <ion-icon name="checkmark-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-list class="list-page">

    <div class="title-type-header item-margin">

      <ion-item class="title">
        <ion-input type="text" 
          label="{{'TITLE'| translate}}" labelPlacement="floating" 
          [(ngModel)]="newTodo.title"></ion-input>
      </ion-item>

      <ion-row class="type">
        <!-- {{newTodo.category.name}} -->
        <ion-select 
          [(ngModel)]="categoryName" (ionChange)="changeCategory()"
          label="{{ 'CATEGORY' | translate}}" label-placement="floating"
          [interfaceOptions]="{'cssClass': 'label-select-color'}">

          <ion-select-option  *ngFor="let cat of categories" [value]="cat.name">{{cat.name | translate}}</ion-select-option>

        </ion-select>
      </ion-row>
    </div>

    <app-custom-config [configArray]="this.newTodo.config" [todo]="this.newTodo"></app-custom-config>

    <div *ngIf="this.newTodo.config.description" class="description-textarea item-margin">

      <ion-textarea [(ngModel)]="newTodo.description" [autoGrow]="true"
      label="{{'DESCRIPTION' | translate}}" labelPlacement="floating"
      fill="outline" placeholder="Enter text"></ion-textarea>

    </div>

    <ion-row *ngIf="this.newTodo.config.priority" class="item-margin">
      <ion-label class="sub-todos-label" color="primary">{{'PRIORITY' | translate}}</ion-label>
      <ion-segment [(ngModel)]="newTodo.priority" color="primary">
        <ion-segment-button value="low">
          <div [class.greyded-text]="newTodo.priority !== 'low'">{{'LOW' | translate}}</div>
        </ion-segment-button>
        <ion-segment-button value="medium">
          <div [class.greyded-text]="newTodo.priority !== 'medium'">{{'MEDIUM' | translate}}</div>
        </ion-segment-button>
        <ion-segment-button value="high">
          <div [class.greyded-text]="newTodo.priority !== 'high'">{{'HIGH' | translate}}</div>
        </ion-segment-button>
      </ion-segment>
    </ion-row>

    <div class="item-margin">
      <app-date-selector [todo]="newTodo"></app-date-selector>

    </div>

    <div *ngIf="this.newTodo.config.subtasks" class="sub-tasks item-padding">

      <ion-label class="sub-todos-label" color="primary">{{'SUB TASKS' | translate}}</ion-label>

      <app-button-add-sub-task [modalConfig]="modalConfig" [parentTask]="newTodo"></app-button-add-sub-task>

      <div cdkDropListGroup>
        <div *ngFor="let subTodo of newTodo.list; let id = index">

          <div cdkDropList [cdkDropListData]="subTasksList[id]" (cdkDropListDropped)="drop($event)">
            <app-sub-task [parentTask]="newTodo" [subTask]="subTodo" [index]="id" [page]="'add'" [openModal]="modalConfig"></app-sub-task>
          </div>
        </div> 
      </div> 

    </div>
  </ion-list>


  <div *ngIf="modalConfig.open">
    <app-add-modal [modalConfig]="modalConfig" [newModalConfig]="newModalConfig" ></app-add-modal>
  </div>
  <div *ngIf="newModalConfig.open">
    <app-add-modal [modalConfig]="newModalConfig"></app-add-modal>
  </div>

</ion-content>
