

<ion-header [translucent]="true" >
  <!-- <ion-toolbar *ngIf="modalConfig.open === false" [ngClass]="{'doneHeader': newTodo.isDone === true, 'passedHeader' : passedDate()}"> -->
  <ion-toolbar *ngIf="modalConfig.open === false" >

    <ion-buttons slot="start" >
      <ion-button (click)="showCloseConfirm()" class="back-button">
        <ion-icon name="arrow-back-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <div>
      <ion-title size="large">{{newTodo.title}}</ion-title>
    </div>
    

    <!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->

    <ion-button class="save-button" slot="end" fill="clear" (click)="saveTodo()">
      Save
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list class="list-page">

    <div class="title-type-header item-margin">

      <ion-item class="title">
        <ion-label position="floating" [color]="newTodo.title ? 'primary' : ''">Title</ion-label>
        <ion-input type="text" [(ngModel)]="newTodo.title"></ion-input>
      </ion-item>

      <ion-row  class="type">
        <!-- {{newTodo.category.name}} -->
        <ion-select 
          [(ngModel)]="categoryName" (ionChange)="changeCategory()"
          label="Category" label-placement="floating"
          [interfaceOptions]="{'cssClass': 'label-select-color'}">

          <ion-select-option  *ngFor="let cat of categories" [value]="cat.name">{{cat.name}}</ion-select-option>

        </ion-select>
      </ion-row>
    </div>

    <!-- <div class="item-margin"> -->
      <app-custom-config [configArray]="this.newTodo.config" [todo]="this.newTodo"></app-custom-config>
    <!-- </div> -->


    <div *ngIf="this.newTodo.config.description" class="description-textarea item-margin">

      <!-- <ion-label position="floating"  [color]="newTodo.description ? 'primary' : ''">Description</ion-label> -->

      <ion-textarea [(ngModel)]="newTodo.description" [autoGrow]="true"
      label="Description" labelPlacement="floating"
      fill="outline" placeholder="Enter text"></ion-textarea>

    </div>

    <ion-row *ngIf="this.newTodo.config.priority" class="item-margin">
      <ion-label class="sub-todos-label" color="primary" >Priority</ion-label>
      <ion-segment [(ngModel)]="newTodo.priority" color="primary">
        <ion-segment-button value="low">
          <ion-label>Low</ion-label>
        </ion-segment-button>
        <ion-segment-button value="medium">
          <ion-label>Medium</ion-label>
        </ion-segment-button>
        <ion-segment-button value="high">
          <ion-label>High</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>

    <div class="item-margin">
      <app-date-selector [todo]="newTodo"></app-date-selector>

    </div>

    <div *ngIf="this.newTodo.config.subtasks" class="sub-tasks item-padding">

      <ion-label class="sub-todos-label" color="primary">Sub Tasks</ion-label>

      <app-button-add-sub-task [modalConfig]="modalConfig" [parentTask]="newTodo"></app-button-add-sub-task>

      <div cdkDropListGroup>
        <div *ngFor="let subTodo of newTodo.list; let id = index">

          <div cdkDropList [cdkDropListData]="subTasksList[id]" (cdkDropListDropped)="drop($event)">
            <app-sub-task [parentTask]="newTodo" [subTask]="subTodo" [index]="id" [page]="'add'" [openModal]="modalConfig"></app-sub-task>
          </div>
        </div> 
      </div> 

    </div>
  </ion-list>


  <div *ngIf="modalConfig.open">
    <app-add-modal [modalConfig]="modalConfig" [newModalConfig]="newModalConfig" ></app-add-modal>

  </div>
  <div *ngIf="newModalConfig.open">
    <app-add-modal [modalConfig]="newModalConfig"></app-add-modal>

  </div>

</ion-content>
