

<div *ngIf="findOnConfig('date')">
  <div class="date-selector" >

    <ion-item class="date-left" [ngClass]="{'modal-item' : page == 'modal'}">
      <ion-label position="floating"  [color]="todo.date ? 'primary' : ''">Due date</ion-label>
      <!-- <ion-icon slot="end" name="close-outline" class="close-item" (click)="closeOnConfig('date')"></ion-icon> -->

      <ion-input type="date" placeholder="MM/DD/YYYY" [(ngModel)]="todo.date"></ion-input>  
    </ion-item>

    <ion-item [ngClass]="{'modal-item' : page == 'modal'}">
      <ion-label position="floating" [color]="todo.time ? 'primary' : ''">Due time</ion-label>
      <!-- <ion-icon slot="end" name="close-outline" class="close-item" (click)="closeOnConfig('time')"></ion-icon> -->

      <ion-input type="time" placeholder="Time" [(ngModel)]="todo.time"></ion-input>
    </ion-item>
  </div>
  
  <ion-row *ngIf="todo.date != undefined && todo.time != undefined" >
    <ion-checkbox labelPlacement="end" [(ngModel)]="todo.reminder" (ionChange)="manageNotification()">Reminder</ion-checkbox>
  </ion-row>
</div>


<div *ngIf="findOnConfig('repeat')">
  <div class="date-selector" *ngIf="todo.repeat">

    <ion-item class="date-left" [ngClass]="{'modal-item' : page == 'modal'}">
      <ion-label position="floating" [color]="todo.repeat.startDate ? 'primary' : ''">Start date</ion-label>
      <!-- <ion-icon slot="end" name="close-outline" class="close-item" (click)="closeOnConfig('date')"></ion-icon> -->

      <ion-input type="date" placeholder="MM/DD/YYYY"  [(ngModel)]="todo.repeat.startDate"></ion-input>
    </ion-item>

    <ion-item [ngClass]="{'modal-item' : page == 'modal'}">
      <ion-label position="floating" [color]="todo.repeat.startTime ? 'primary' : ''">Time</ion-label>
      <!-- <ion-icon slot="end" name="close-outline" class="close-item" (click)="closeOnConfig('time')"></ion-icon> -->

      <ion-input type="time" placeholder="Time" [(ngModel)]="todo.repeat.startTime"></ion-input>
    </ion-item>
  </div>
  
  <div class="date-selector" >
    <ion-row class="repeat" *ngIf="todo.repeat">
      <ion-select label="Repeat" label-placement="floating" [(ngModel)]="todo.repeat.delayType" aria-label="Type">
        <ion-select-option value="day">Every days</ion-select-option>
        <!-- <ion-select-option value="personnal">Week days</ion-select-option> -->
        <ion-select-option value="week">Every weeks</ion-select-option>
        <ion-select-option value="two-weeks">Every two weeks</ion-select-option>
        <ion-select-option value="month">Every months</ion-select-option>
        <ion-select-option value="year">every years</ion-select-option>
        
      </ion-select>
    </ion-row>

    <ion-row *ngIf="repeatReminderPossible()">
      <ion-checkbox labelPlacement="end" [(ngModel)]="todo.reminder" (ionChange)="manageRepeatNotification()">Reminder</ion-checkbox>
    </ion-row>

  </div>
  
</div>
