<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBackTodo()" class="back-button">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Informations personnelles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Informations personnelles</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item class="item-margin" [disabled]="editMode === 'password'">
      <ion-input type="text"
        [label]="editMode === 'mail' ? 'Changer email' : 'Email'"
        labelPlacement="floating" 
        aria-label="Email"
        [ngModel]="editMode === 'mail' ? newEmail : user!.email"
        (ngModelChange)="newEmail = $event"
        [readonly]="editMode !== 'mail'">
      </ion-input>

      <ion-button slot="end" color="medium" (click)="editMailOrPassword('mail')">
        {{editMode === 'mail' ? 'Annuler' : 'Modifier'}}
      </ion-button>
    </ion-item>

    <div *ngIf="editMode === 'mail' && errorMessageMail" class="error-message">{{errorMessageMail}}</div>

    <ion-button *ngIf="editMode === 'mail'" [disabled]="!validEmail()" (click)="modifyEmail()" class="big-button">Sauvegarder</ion-button>


    <ion-item class="item-margin" [disabled]="editMode === 'mail'">
      <ion-input type="password"
        [label]="editMode === 'password' ? 'Changer mot de passe' : 'Mot de passe'"
        labelPlacement="floating"
        aria-label="Password" 
        [ngModel]="editMode === 'password' ? newPassword : '************'"
        (ngModelChange)="newPassword = $event"
        [readonly]="editMode !== 'password'">
      </ion-input>

      <ion-button slot="end" color="medium" (click)="editMailOrPassword('password')">
        {{editMode === 'password' ? 'Annuler' : 'Modifier'}}
      </ion-button>
    </ion-item>

    <div *ngIf="editMode === 'password' && errorMessagePassword" class="error-message">{{errorMessagePassword}}</div>

    <ion-button *ngIf="editMode === 'password'" [disabled]="!newPassword" (click)="modifyPassword()" class="big-button">Sauvegarder</ion-button>
    


    <ion-item class="item-margin" [disabled]="editMode !== null">
      <ion-label>Supprimer compte</ion-label>

      <ion-button slot="end" color="danger" (click)="showDeleteAccountConfirm()"> Supprimer
      </ion-button>
    </ion-item>

    <div *ngIf="errorMessageDelete" class="error-message">{{errorMessageDelete}}</div>
  </ion-list>
</ion-content>
