
<div>
  <div class="background">
  </div>



  <div class="content">

    <ion-header>
      <ion-toolbar [ngClass]="{'doneHeader': subTask.isDone === true, 'passedHeader' : passedDate()}">
        <ion-buttons slot="start">
          <ion-icon name="close-outline" class="close-icon" (click)="showCloseConfirm()"></ion-icon>
        </ion-buttons>
        <!-- level: {{level}} -->
    
        <div *ngIf="subTask.title === ''">
          <ion-title size="large">New task</ion-title>
        </div>
        <div *ngIf="subTask.title !== ''">
          <ion-title size="large">{{subTask.title}}</ion-title>
        </div>
        <!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->
    
        <ion-button *ngIf="!modify" class="save-button" slot="end" fill="clear" (click)="addSubTask()">
          Add
        </ion-button >

        <ion-buttons *ngIf="modify" slot="end">

          <ion-button *ngIf="modalConfig.parentTask" (click)="showConfirm()">
            <ion-icon name="trash-outline" color="danger" class="delete-button"></ion-icon>

          </ion-button>
          
          
          <ion-button color="primary" class="save-button" fill="clear" (click)="closeSubTask()">
            Done
          </ion-button >
        </ion-buttons>
        
    
      </ion-toolbar>
    </ion-header>

    <!-- <div *ngIf="openModal.open == true" [style.margin-bottom.px]="getMaxHeight()">

    </div> -->
    
    
    <ion-list class="list-page">
  
      <div class="title-type-header">
  
        <ion-item class="title">
          <ion-label position="floating" >Title</ion-label>
          <ion-input type="text" [(ngModel)]="subTask.title" (ionChange)="changeTodo = true"></ion-input>
        </ion-item>
  
        <ion-row  class="type">
          <ion-select label="Category" label-placement="floating"  [(ngModel)]="subTask.category" aria-label="Type" (ionChange)="changeTodo = true">
            <ion-select-option value="default">Default</ion-select-option>
            <ion-select-option value="personnal">Personnal</ion-select-option>
            <ion-select-option value="project">Project</ion-select-option>
            <ion-select-option value="work">Work</ion-select-option>
            <ion-select-option value="wishlist">Wishlist</ion-select-option>
            <ion-select-option value="sport">Sport</ion-select-option>
            <ion-select-option value="shopping">Shopping</ion-select-option>
          </ion-select>
        </ion-row>
      </div>
  
      <app-custom-config [configArray]="subTask.config"></app-custom-config>

      <div *ngIf="this.subTask.config.description" class="description-textarea">
        <ion-textarea [(ngModel)]="subTask.description" (ionChange)="changeTodo = true" [autoGrow]="true"
        label="Description" labelPlacement="floating"
        fill="outline" placeholder="Enter text"></ion-textarea>
      </div>

      <ion-row *ngIf="this.subTask.config.priority">
        <ion-label class="sub-todos-label" color="primary" >Priority</ion-label>
        <ion-segment [(ngModel)]="subTask.priority" color="primary" (ionChange)="changeTodo = true">
          <ion-segment-button value="low">
            <ion-label>Low</ion-label>
          </ion-segment-button>
          <ion-segment-button value="medium">
            <ion-label>Medium</ion-label>
          </ion-segment-button>
          <ion-segment-button value="high">
            <ion-label>High</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>
  
      <app-date-selector [todo]="subTask" [page]="'modal'" (childModified)="changeTodo = true"></app-date-selector>
  
  
      <div *ngIf="this.subTask.config.subtasks">
  
        <ion-label class="sub-todos-label" color="primary">Sub Tasks</ion-label>
        <div *ngIf="!modify" class="info-sub-task">
          <ion-text>You can add subtasks to this task after creating it.</ion-text>
        </div>
        
        <ion-list>
          <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
            <div *ngFor="let newSubTodo of subTask.list; let id = index">
              <app-sub-todo [todo]="subTask" [subTodo]="newSubTodo" [index]="id" [page]="'add'"></app-sub-todo>
            </div > 
          </ion-reorder-group>
        </ion-list>
  
      </div>
    </ion-list>
  
    <!-- <div  #child>
      <div *ngIf="openModal.open">
      
        <app-add-modal [subTodo]="openModal.task" [level]="incrementLevel()" [modify]="openModal.modify"></app-add-modal>
    
      </div>

    </div> -->
   
  
  </div>

</div>



   