

.background{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0100008c;
}

.content{


    // border-radius: 25px;

    
    position: fixed;
    // background-color: red;
    
    bottom: 0%;
    width: 100%;
    height: wrap-content;

    max-height: 80%;

    overflow-y: scroll;

    border-radius: 10px 10px 0px 0px;

    // transform :translateY (100%);
    // bottom: 0%;
}

ion-header{
    position: fixed;
    height: 55px;
    
}

ion-toolbar{
    border-radius: 10px 10px 0px 0px;
}

.close-icon{
    padding-left: 10px;
    padding-right: 5px;
    font-size: 30px;
}

ion-list, ion-item{
    
    
    background-color: var(--ion-color-step-100);

    padding: 0px 5px; 
}

.list-page{
    height: 100%;
    
    padding-top: 60px;
}

.title-type-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
}

.title-type-header .title{
    width: 60%;
}

.title-type-header .type{
    width: 35%;
    
}

.input-todo{
    background-color: var(--ion-color-step-200);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    font-size: 18px;
}

ion-checkbox{
    padding: 20px 16px;
}

ion-select {
    padding-right: 16px;
    --placeholder-color: white !important; /* Remplacez cette couleur par celle de votre choix */
    --placeholder-opacity: 1 !important; /* Pour être sûr que le texte est lisible */
}

ion-row{
    border-bottom: solid var(--ion-border-color) 1px;
}

.new-sub-todo{
    
    padding: 0px 16px;
    font-size: 18px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.new-sub-todo ion-input{
    
    width: 80%;
}

.new-sub-todo ion-icon{
    font-size: 30px;
    color: var(--ion-color-step-600);
}

.save-button{
    padding-top: 2px;
    margin-right: 10px;

    font-size: 16px;
    font-weight: 500;
}