
<div>
  <div class="background">
  </div>



  <div class="content">

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-icon name="close-outline" class="close-icon" (click)="closeModal()"></ion-icon>
        </ion-buttons>
        <!-- level: {{level}} -->
    
        <div *ngIf="subTask.title == ''">
          <ion-title size="large">New task</ion-title>
        </div>
        <div *ngIf="subTask.title != ''">
          <ion-title size="large">{{subTask.title}}</ion-title>
        </div>
        <!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->
    
        <ion-button *ngIf="!modify" class="save-button" slot="end" fill="clear" (click)="addSubTask()">
          Add
        </ion-button >

        <ion-buttons *ngIf="modify" slot="end">

          
          <!-- <ion-icon name="trash-outline" color="danger" class="delete-button"></ion-icon> -->
          
          
          <ion-button color="primary" class="save-button" fill="clear" (click)="closeModal()">
            Done
          </ion-button >
        </ion-buttons>
        
    
      </ion-toolbar>
    </ion-header>

    <!-- <div *ngIf="openModal.open == true" [style.margin-bottom.px]="getMaxHeight()">

    </div> -->
    
    
    <ion-list class="list-page">
  
      <div class="title-type-header">
  
        <ion-item class="title">
          <ion-label position="floating">Title</ion-label>
          <ion-input type="text" [(ngModel)]="subTask.title"></ion-input>
        </ion-item>
  
        <ion-row  class="type">
          <ion-select label="Category" label-placement="floating"  [(ngModel)]="subTask.category" aria-label="Type">
            <ion-select-option value="default">Default</ion-select-option>
            <ion-select-option value="personnal">Personnal</ion-select-option>
            <ion-select-option value="project">Project</ion-select-option>
            <ion-select-option value="work">Work</ion-select-option>
            <ion-select-option value="wishlist">Wishlist</ion-select-option>
            <ion-select-option value="sport">Sport</ion-select-option>
            <ion-select-option value="shopping">Shopping</ion-select-option>
          </ion-select>
        </ion-row>
      </div>
  
      <app-custom-config [configArray]="subTask.config"></app-custom-config>
  
      <ion-item *ngIf="findOnConfig('description')">
  
        <ion-label position="floating">Description</ion-label>
        <ion-textarea [(ngModel)]="subTask.description"></ion-textarea>
  
      </ion-item>
  
      <div *ngIf="findOnConfig('date')">
        <div class="date-selector" >
  
          <ion-item class="date-left" >
            <ion-label position="floating">Due date</ion-label>
            <!-- <ion-icon slot="end" name="close-outline" class="close-item" (click)="closeOnConfig('date')"></ion-icon> -->
    
            <ion-input type="date" placeholder="MM/DD/YYYY" [(ngModel)]="subTask.date"></ion-input>  
          </ion-item>
    
          <ion-item *ngIf="findOnConfig('time')">
            <ion-label position="floating">Due time</ion-label>
            <!-- <ion-icon slot="end" name="close-outline" class="close-item" (click)="closeOnConfig('time')"></ion-icon> -->
    
            <ion-input type="time" placeholder="Time"></ion-input>
          </ion-item>
        </div>
  
        <ion-row *ngIf="subTask.date">
          <ion-checkbox labelPlacement="end" [(ngModel)]="subTask.reminder" (ionChange)="manageNotification()">Reminder</ion-checkbox>
        </ion-row>
      </div>
  
  
      <div *ngIf="findOnConfig('sub tasks')">
  
        <ion-label class="sub-todos-label" color="primary">Sub Tasks</ion-label>
        <div *ngIf="!modify" class="info-sub-task">
          <ion-text>You can add subtasks to this task after creating it.</ion-text>
        </div>
        
        <ion-list>
          <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
            <div *ngFor="let newSubTodo of subTask.list; let id = index">
              <app-sub-todo [todo]="subTask" [subTodo]="newSubTodo" [index]="id" [page]="'add'"></app-sub-todo>
            </div > 
          </ion-reorder-group>
        </ion-list>
  
      </div>
    </ion-list>
  
    <!-- <div  #child>
      <div *ngIf="openModal.open">
      
        <app-add-modal [subTodo]="openModal.task" [level]="incrementLevel()" [modify]="openModal.modify"></app-add-modal>
    
      </div>

    </div> -->
   
  
  </div>

</div>



   