.main-content{

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: white;

    
}

ion-card{
    padding: 0;
    // margin-right: 0;
}

ion-icon{
    font-size: 30px;
    color: var(--ion-color-step-600);
}

ion-card-content{
    padding: 10px;
}


.left-card{
    // width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;
    
}

.task-title{

    margin-left: 15px;
}


.todo-page{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 0 10px;
}

svg{
    margin-right: 10px;
    fill: var(--ion-color-primary);
}

.todo-page ion-label{

    color: var(--ion-color-step-600);
}

.sub-sub-task{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    // background-color: var(--ion-color-step-200);
}






