
<ion-card [style.margin-right]="marginLeft()">

  <ion-card-content (click)="clickSubTask()" (press)="developSubTaskPressed($event)" [ngClass]="{isDone: subTask.isDone}">

    <!-- <ion-icon name="menu-outline"></ion-icon> -->

    <div class="main-content">
      <div class="left-card">
        <ion-reorder ></ion-reorder>
  
        <div class="task-title">
          <ion-card-title >{{subTask.title}}</ion-card-title>
        </div>
      </div>
  
      <div class="todo-page">
        
        <!-- <svg width="30px" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8787 3.70705C17.0503 2.53547 18.9498 2.53548 20.1213 3.70705L20.2929 3.87862C21.4645 5.05019 21.4645 6.94969 20.2929 8.12126L18.5556 9.85857L8.70713 19.7071C8.57897 19.8352 8.41839 19.9261 8.24256 19.9701L4.24256 20.9701C3.90178 21.0553 3.54129 20.9554 3.29291 20.7071C3.04453 20.4587 2.94468 20.0982 3.02988 19.7574L4.02988 15.7574C4.07384 15.5816 4.16476 15.421 4.29291 15.2928L14.1989 5.38685L15.8787 3.70705ZM18.7071 5.12126C18.3166 4.73074 17.6834 4.73074 17.2929 5.12126L16.3068 6.10738L17.8622 7.72357L18.8787 6.70705C19.2692 6.31653 19.2692 5.68336 18.8787 5.29283L18.7071 5.12126ZM16.4477 9.13804L14.8923 7.52185L5.90299 16.5112L5.37439 18.6256L7.48877 18.097L16.4477 9.13804Z"/>
          </svg> -->

        <div *ngIf="subTask.isDone" class="isDone-icon">
          <ion-icon name="checkmark-outline" color="success"></ion-icon>
        </div>  
        

        <div *ngIf="findOnConfig('sub tasks')" class="develop">
          <div  *ngIf="!developped">
            <ion-icon name="chevron-down-outline" (click)="developSubTask($event)"></ion-icon>
          </div>
          <div *ngIf="developped">
            <ion-icon name="chevron-up-outline" (click)="developSubTask($event)"></ion-icon>
          </div>
        </div>
      </div>
      
  
      <!-- <div *ngIf="page == 'todo'" class="todo-page">
        
        

        <div *ngIf="subTask.list!.length != 0" class="develop">
          <div  *ngIf="!developped">
            <ion-icon name="chevron-down-outline" (click)="developSubTask($event)"></ion-icon>
          </div>
          <div *ngIf="developped">
            <ion-icon name="chevron-up-outline" (click)="developSubTask($event)"></ion-icon>
          </div>
  
        </div> 
        
        
      </div>-->
      
    </div>

  </ion-card-content>

  

  <ion-list class="sub-sub-task" *ngIf="findOnConfig('sub tasks') && developped" [style.background-color]="backgroundColor()">

    <app-button-add-sub-task [modalConfig]="openModal" [parentTask]="subTask"></app-button-add-sub-task>


    <!-- <div class="new-sub-task" *ngIf="page === 'add'">
      <ion-row class="sub-type">
        <ion-select label="Type" label-placement="floating"  aria-label="Type" [(ngModel)]="subType">
          <ion-select-option value="customize">Customize</ion-select-option>
          <ion-select-option value="todo">Todo</ion-select-option>
        </ion-select>
      </ion-row>

      <div *ngIf="subType == 'todo'">
        <ion-row class="new-sub-todo">
          <ion-input  type="text"  placeholder="Sub todos"></ion-input>
          <ion-icon name="add" ></ion-icon>
        </ion-row>
      </div>
      
      <div *ngIf="subType == 'customize'">
        <ion-buttons class="add-button-container" >
          <button class="add-button" (click)="addSubTaskOnList()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>
      </div>
    </div> -->
    

    <div *ngFor="let sub of subTask.list" >
  
      <app-sub-task [todo]="todo" [subTask]="sub" [index]="index" [page]="page" [level]="level + 1" [openModal]="openModal"></app-sub-task>
    
    </div>
  
  </ion-list>
 
</ion-card>






