<div class="customize-container">

  <!-- Personnalisation du Todo -->


  <div *ngIf="configArray.description === false">
    <button class="customize-button open" (click)="toggleConfig('description')">
      {{'DESCRIPTION' | translate}}
    </button>
  </div>

  <div *ngIf="configArray.description=== true">
    <button class="customize-button close" (click)="toggleConfig('description')">
      {{'DESCRIPTION' | translate}}
      <ion-icon name="close-outline" class="close-item"></ion-icon>
    </button>
  </div>

  <div *ngIf="configArray.priority === false">
    <button class="customize-button open" (click)="toggleConfig('priority')">
      {{'PRIORITY' | translate}}
    </button>
  </div>

  <div *ngIf="configArray.priority === true">
    <button class="customize-button close" (click)="toggleConfig('priority')">
      {{'PRIORITY' | translate}}
      <ion-icon name="close-outline" class="close-item"></ion-icon>
    </button>
  </div>

  <div *ngIf="configArray.date === false">

    <button class="customize-button open" (click)="toggleConfig('date')">
      {{'DATE' | translate}}
    </button>
  </div>

  <div *ngIf="configArray.date === true">
    <button class="customize-button close" (click)="toggleConfig('date')">
      {{'DATE' | translate}}
      <ion-icon name="close-outline" class="close-item"></ion-icon>
    </button>
  </div>

  <div *ngIf="configArray.repeat === false">

    <button class="customize-button open" (click)="toggleConfig('repeat')">
      {{'REPEAT' | translate}}
    </button>
  </div>

  <div *ngIf="configArray.repeat === true">
    <button class="customize-button close" (click)="toggleConfig('repeat')">
      {{'REPEAT' | translate}}
      <ion-icon name="close-outline" class="close-item"></ion-icon>
    </button>
  </div>

  <div *ngIf="configArray.subtasks === false">

    <button class="customize-button open" (click)="toggleConfig('subtasks')">
      {{'SUB TASKS' | translate}}
    </button>
  </div>

  <div *ngIf="configArray.subtasks === true">
    <button class="customize-button close" (click)="toggleConfig('subtasks')">
      {{'SUB TASKS' | translate}}
      <ion-icon name="close-outline" class="close-item"></ion-icon>
    </button>
  </div>
</div>