

.teams-gestion{
    margin: 16px 8px;
    border-radius: 4px;

    // padding: 4px;
    padding: 8px;

    background-color: var(--ion-color-step-50);

    overflow-x: scroll;
}

.teams-title{
    display: flex;
    flex-direction: row;
    justify-self: start;
    padding: 4px;
    font-weight: bold;
}


