<div class="teams-gestion">
  
  <div class="teams-title">Teams</div>

  <ion-list >

    <div class="teams-list">

      <div class="add-team">
        <ion-button (click)="addTeam()" shape="round" class="add-team-button">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
        <ion-label>New team</ion-label>
      </div>

      <div *ngFor="let team of teams">

        <div class="team-item" (click)="goToTeam(team.team.id)">

          <img [src]="team.team.image" width="50px" height="50px" alt="">

          

          <ion-label>{{team.team.name}}</ion-label>

        </div>
      </div>

    </div>
    

  </ion-list>

  <div *ngIf="teamInvitations.length > 0">

    <div class="invitations-title">Invitations</div>

    <ion-list>

      <div *ngFor="let invitation of teamInvitations">

        <div class="invitation-item">

          <ion-label class="invitation-label">
            <b>{{invitation.sender.pseudo}}</b> 
            invites you to join 
            <b>{{invitation.teamName}}</b>
          </ion-label>

          <div class="invitation-buttons">
            <ion-button (click)="acceptInvitation(invitation)" color="medium" shape="round" class="invitation-button">Accept</ion-button>

            <ion-button (click)="rejectInvitation(invitation)" color="danger" shape="round" class="invitation-button">Reject</ion-button>
    
          </div>
        </div>
      </div>

    </ion-list>

  </div>

  
      
</div>