/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


app-todo-card{
    width: 100%;
}

ion-list, ion-item{
    background-color: var(--ion-background-color);
}

ion-list{
    min-height: 80px;
}


.isDone{
    background-color: #4caf4f5e;
 }


// DATE ELEMENTS

.date-selector{
    display: flex;
    flex-direction: row;

    width: 100%;
}

.date-left{
    width: 50%;
    margin-right: 20px;
}


//SUB TASKS ELEMENTS


.sub-tasks{
    margin-top: 16px;
    // padding-bottom: 0px;
}

.sub-todos-label{
    font-size: 12px;
    margin-left: 16px;
    padding-top: 10px;
}

.new-sub-task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.new-sub-task .sub-type{
    width: 35%;
    margin-left: 16px;
}



// .new-sub-task .sub-task-input{
//     width: 60%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
// }

.new-sub-task ion-text{
    margin-left: 20px;
    font-size: 18px;
 }

.add-button-container{
    display: flex;
    justify-content: flex-end;
}

.add-button{
    background: var(--ion-color-step-50);
    border-radius: 50%;

    padding: 10;

    width: 50px;
    height: 50px;

    font-size: 25px;

    margin-right: 15px;

    background-color: var(--ion-color-primary);
}

.hideHeader{
    pointer-events: none;
    opacity: 0.4;
    
}