/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import 'swiper/scss';
@import '@ionic/angular/css/ionic-swiper';


app-todo-card{
    width: 100%;
}

ion-list, ion-item{
    background-color: var(--ion-background-color);
}


// ion-list{
//     // min-height: 80px;
// }

ion-label{
    color: var(--ion-text-color);
}

ion-item{
    --highlight-color-focused: var(--ion-color-primary);
    --highlight-color-valid: var(--ion-color-primary);
    --highlight-color: var(--ion-color-primary) !important;
}

.sc-ion-textarea-md-h{
    --highlight-color : var(--ion-color-primary) !important;
}

.ion-valid{
    --highlight-color : var(--ion-color-primary) !important;
}

//Global pages style

.item-padding{
    padding: 10px 0px;
}

.item-margin{
    margin: 10px 0px;
}


//Passed style

.passedHeader{
    --background: var(--is-passed-color-header) !important;
}

.passed{
    background-color: var(--is-passed-color);
 }

 .passed-date{
    color: var(--ion-color-danger);
}

//Is done style

.doneHeader{
    --background: var(--is-done-color-header) !important;
}

.isDone{
    background-color: var(--is-done-color);
 }


//

 .back-button{
     font-size: 18px;
 }


//SUB TASKS ELEMENTS

app-sub-task ion-card{
    --margin-bottom: 0px !important;
}

.sub-tasks{
    margin-top: 16px;
    // padding-bottom: 0px;
}

.sub-todos-label{
    font-size: 12px;
    font-weight: 500;
    margin-left: 16px;
    padding-top: 10px;
}


// ADD sub task elements

.save-button{
    padding-top: 2px;
    margin-right: 10px;

    font-size: 16px;
    font-weight: 500;
}
 

//CALENDAR 


.calendar-style{
    height : auto !important;
}

.with-event{
    background-color: #FF9800 !important;

    // background-color: var(--ion-color-step-200) !important;
    color: var(--ion-text-color) !important;
    // padding: 5px;
    width: 35px;
    height: 35px;

    border-radius: 50%;

    // text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.monthview-container{
    height : auto !important;
    // border-bottom: 1px solid var(--ion-color-step-100)!important;
    border: none !important;   
}


.monthview-current { 
    background-color: var(--ion-color-step-200) !important; 
}

.monthview-secondary-with-event { 
    // background-color: #FF9800 !important;
    background-color: var(--background) !important; 
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.monthview-primary-with-event { 
    // background-color: #FF9800 !important;
    background-color: var(--background) !important; 
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


.monthview-selected { 
    // background-color: #FF5722 !important; 
    background-color: var(--background) !important; 
    // color: red !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


.monthview-selected div{
    width: 35px;
    height: 35px;

    border-radius: 50%;
    border: 2px solid var(--ion-color-danger) !important;
    color: var(--ion-text-color) !important;

    // color: var(--ion-color-danger) !important;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.monthview-current{
    background-color: var(--background) !important; 

}

.table-bordered, .th, thead, tr, td, th{
    border: 0px !important;
}



// thead[_ngcontent-ng-c613479738]{
//     // border: 2px solid var(--ion-color-step-100)  !important;
//     border: 0px !important;
// }


// .table-bordered[_ngcontent-ng-c613479738],  th[_ngcontent-ng-c613479738], .table-bordered[_ngcontent-ng-c613479738], tr[_ngcontent-ng-c613479738], td[_ngcontent-ng-c613479738]{
//     // border: 1px solid var(--ion-color-step-100) !important;
//     border: 0px !important;
// }





.node-label{
    
    font-size: 8px;
    font-weight: bold;
    fill: var(--ion-text-color);
    pointer-events: none;
}

.selected{
    // scale: 1.2;
    stroke-width: 2px;
    stroke: var(--ion-color-step-900);
    transition: all 0.2s ease-in-out;
}


.emoji{
    pointer-events: none;
}


//Drag and drop style

.cdk-drag-preview{
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--ion-color-step-100);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder{
    opacity: 0;
}

.cdk-drag-animating{
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



//Selection elements style





.description-textarea{
    // padding-left: 10px;
    // --padding-start: 50px;
    padding: 8px;
    padding-top: 12px;
}

.label-padding .label-text.sc-ion-textarea-md{
    // color: var(--ion-color-primary) !important;
    padding-bottom: 20px;
}

.label-padding .native-wrapper.sc-ion-input-md{
    // color: var(--ion-color-primary) !important;
    padding-top: 15px;
    padding-bottom: 8px;
}

.no-padding{
    padding: 0px !important;
}

.description-textarea ion-textarea.has-focus.sc-ion-textarea-md-h{
    --border-color: var(--ion-color-primary) !important;
}


//Theme color

.has-focus.ion-valid.sc-ion-input-md-h, .ion-valid.sc-ion-input-md-h{
    --border-color: var(--ion-color-primary) !important;
}

.has-value .label-text-wrapper{
    color: var(--ion-color-primary) !important;
}

ion-select::part(label){
    color: var(--ion-color-primary) !important;
}