<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="goBackTodo()" class="back-button">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{'EDIT PROFILE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="padding-page" *ngIf="user !== null">

    <!-- <div class="page-title">Modifier profil</div> -->

    <!-- <app-user-card [user]="user"></app-user-card> -->

    <ion-list [class.disabled-form]="editMode !== null">

      <div class="profile-image-pseudos">

        <div class="pseudo-image">
          <div class="image-container" (click)="triggerFileInput()">
            <img [src]="imagePreview || user.avatar" alt="Profile picture">
            <div class="overlay">
              <ion-icon name="pencil"></ion-icon>
            </div>
          </div>
          <input #fileInput type="file" accept="image/*" (change)="fileUpload($event)" style="display: none;" />
        </div>
    
        <ion-item class="item-margin pseudo-input">
          <ion-input type="text" 
          label="Pseudo" labelPlacement="floating" aria-label="Pseudo" 
          [(ngModel)]="user.pseudo"></ion-input>
        </ion-item>
      </div>


      <ion-item class="item-margin">
        <ion-input type="text" 
        label="Bio" labelPlacement="floating" aria-label="Email" 
        [(ngModel)]="user.bio"></ion-input>
      </ion-item>


    <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>

    <ion-button [disabled]="!canModifyUser() || editMode !== null" (click)="modifyUser()" expand="block" class="big-button">{{'SAVE' | translate}}</ion-button>


    </ion-list>

    <!-- <ion-item class="item-margin" [disabled]="editMode === 'password'">
      <ion-input type="text"
        [label]="editMode === 'mail' ? 'Changer email' : 'Email'"
        labelPlacement="floating" 
        aria-label="Email"
        [ngModel]="editMode === 'mail' ? newEmail : user.email"
        (ngModelChange)="newEmail = $event"
        [readonly]="editMode !== 'mail'">
      </ion-input>

      <ion-button slot="end" color="medium" (click)="editMailOrPassword('mail')">
        {{editMode === 'mail' ? 'Annuler' : 'Modifier'}}
      </ion-button>
    </ion-item>

    <div *ngIf="editMode === 'mail' && errorMessageMail" class="error-message">{{errorMessageMail}}</div>

    <ion-button *ngIf="editMode === 'mail'" [disabled]="!validEmail()" (click)="modifyEmail()" class="big-button">Sauvegarder</ion-button>


    <ion-item class="item-margin" [disabled]="editMode === 'mail'">
      <ion-input type="password"
        [label]="editMode === 'password' ? 'Changer mot de passe' : 'Mot de passe'"
        labelPlacement="floating"
        aria-label="Password" 
        [ngModel]="editMode === 'password' ? newPassword : '************'"
        (ngModelChange)="newPassword = $event"
        [readonly]="editMode !== 'password'">
      </ion-input>

      <ion-button slot="end" color="medium" (click)="editMailOrPassword('password')">
        {{editMode === 'password' ? 'Annuler' : 'Modifier'}}
      </ion-button>
    </ion-item>

    <div *ngIf="editMode === 'password' && errorMessagePassword" class="error-message">{{errorMessagePassword}}</div>

    <ion-button *ngIf="editMode === 'password'" [disabled]="!newPassword" (click)="modifyPassword()" class="big-button">Sauvegarder</ion-button>
    


    <ion-item class="item-margin" [disabled]="editMode !== null">
      <ion-label>Supprimer</ion-label>
    </ion-item> -->
  </div>
</ion-content>
