
.page-title{
    margin-bottom: 32px;
}

.pseudo-image{
    display: flex;
    align-items: center;
    justify-content: center;

}

.pseudo-image img{
    // width: 33%;
    // height: 33%;
    border-radius: 50%;
}