

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-menu-button autoHide="false"></ion-menu-button>

    </ion-buttons>
    <ion-title size="large">To do list</ion-title>
    <!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-list>
    <ion-row *ngFor="let todo of todos">
      <app-todo-card [todo]="todo"></app-todo-card>
    </ion-row >
  </ion-list>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
