

.logo-title{
  width: 50%;
  margin-left: 15px;
  // padding: 5px;
  padding-top: 2px;

}

.research-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  // padding-top: 5px;
  // margin-top: 5px;
}

.research-header ion-searchbar{
  --background: var(--ion-color-step-50);
  --color: var(--ion-text-color);
  width: 85%;
  // margin-right: 10px;
  --border-radius: 5px;
}

.research-header ion-buttons{
  
  width: 15%;
  // margin-right: 10px;
}

.research-header ion-buttons ion-button{
  --background: var(--ion-color-step-50);
  --color: var(--ion-color-step-700);
  width: 40px;
  height: 40px;

  --border-radius: 50%;
  // margin-right: 10px;
}

ion-list{
  background-color: var(--ion-background-color);
}


//Modal 

ion-modal {
  --height: 50%;
  --width: 90%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: var(--ion-color-step-50);
  --color: var(--ion-text-color);
}


ion-badge{
  position: absolute;
  top: 5px;
  right: 8px;
}