
<div class="ion-page">


  <ion-header id="openMenu">
    <ion-toolbar>
      <ion-buttons slot="start">
  
        <ion-menu-button autoHide="false" ></ion-menu-button>
  
      </ion-buttons>
      <ion-title size="large">ConcepTodo</ion-title>
      <!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->
    </ion-toolbar>
  </ion-header>




<ion-content [fullscreen]="true">


  <ion-row class="research-header">
    <ion-searchbar (ionInput)="handleInput($event)"  placeholder="Search"></ion-searchbar>

    <ion-buttons>
      <ion-button>
        <ion-icon name="funnel-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-row>

  
  <ion-list>

  <!-- How to iterate object + index -->
    <ion-row *ngFor="let todo of results">
      
      <app-todo-card [todo]="todo" [color]="typeColor(todo.category)" [routerLink]="'/todo/' + todo.mainId"></app-todo-card>
    </ion-row >
  </ion-list>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <div>

    <app-left-menu></app-left-menu>
  
  </div>
  
  
</ion-content>

</div>

