
<div class="ion-page">

  <ion-header id="openMenu">
    <ion-toolbar>
      <ion-buttons slot="start">
  
        <ion-menu-button autoHide="false" ></ion-menu-button>
  
      </ion-buttons>
      <ion-title size="large">ConcepTodo</ion-title>
      <!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">


  <ion-row class="research-header">
    <ion-searchbar (ionInput)="handleInput($event)"  placeholder="Search"></ion-searchbar>

    <ion-buttons>
      <ion-button id="open-modal" expand="block">
        <ion-icon name="funnel-outline">
        </ion-icon>
      </ion-button>
      <ion-badge color="primary" *ngIf="countFilters() !== 0">{{countFilters()}}</ion-badge>
      
    </ion-buttons>
  </ion-row>
  
  <ion-list>
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <ion-row *ngFor="let todo of results">
        <app-todo-card [todo]="todo" [routerLink]="'/todo/' + todo.mainId"></app-todo-card>
      </ion-row >
    </ion-reorder-group>

      
  </ion-list>


  <ion-infinite-scroll>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <div>
    <app-left-menu></app-left-menu>
  </div>


  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Filters</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>

          <ion-item>
            <ion-label>Category</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="filters.category" (ionChange)="filterResults()"></ion-checkbox>
            <ion-select [(ngModel)]="filters.categoryChoosed" (ionChange)="filterResults()">
              <ion-select-option value="default">Default</ion-select-option>
              <ion-select-option value="personnal">Personnal</ion-select-option>
              <ion-select-option value="project">Project</ion-select-option>
              <ion-select-option value="work">Work</ion-select-option>
              <ion-select-option value="event">Event</ion-select-option>
              <ion-select-option value="wishlist">Wishlist</ion-select-option>
              <ion-select-option value="sport">Sport</ion-select-option>
              <ion-select-option value="shopping">Shopping</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Priority</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="filters.priority" (ionChange)="filterResults()"></ion-checkbox>
            <ion-select [(ngModel)]="filters.priorityChoosed" (ionChange)="filterResults()">
              <ion-select-option value="low">Low</ion-select-option>
              <ion-select-option value="medium">Medium</ion-select-option>
              <ion-select-option value="high">High</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Today</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="filters.today" (ionChange)="filterResults()"></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>This week</ion-label >
            <ion-checkbox slot="start" [(ngModel)]="filters.week" (ionChange)="filterResults()"></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Overdue</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="filters.overdue" (ionChange)="filterResults()"></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Done</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="filters.done" (ionChange)="filterResults()"></ion-checkbox>
          </ion-item>
          
          <!-- <ion-item>
            <ion-label>This month</ion-label>
            <ion-checkbox slot="start" [(ngModel)]="filters.month"></ion-checkbox>
          </ion-item> -->
          

          

        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  
</ion-content>

</div>

