

// .first-node{
//     background: red;

//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
// }


.nodes{
    
    font-size: large;
    font-weight: bold;
    color: white;
    fill: aqua;
}


// #graph-container{
//     width: 100%;
//     height: 100%;
// }